name: tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  tests:
    name: Python ${{ matrix.python-version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os:
        - ubuntu-latest
        - macos-latest
        - windows-latest
        python-version:
        - "3.9"
        - "3.14"
        include:
          - python-version: pypy-3.9
            os: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install
        run: pip install -q -r tests/requirements.txt && pip freeze --all

      - name: Run tests for ${{ matrix.python-version }} on ${{ matrix.os }}
        run: python -m pytest --durations=10

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5

  typesafety:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: "3.14"
          cache: pip

      - run: |
          python -m venv .venv
          source .venv/bin/activate
          pip install --upgrade pip
          # Tell setuptools to *not* create a PEP 660 import hook and to use
          # symlinks instead, so that pyright can still find the package. See
          # https://microsoft.github.io/pyright/#/import-resolution?id=editable-installs
          pip install --editable . --config-settings editable_mode=strict

      - run: echo "$PWD/.venv/bin" >> $GITHUB_PATH

      - uses: jakebailey/pyright-action@v2
        with:
          ignore-external: true
          verify-types: aocd
